**/__pycache__
**/.venv
**/.env
**/node_modules
**/.next
**/uploads
**/processed
**/.git
**/.gitignore
**/README.md
**/*.pyc
**/*.pyo
**/*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.coverage
htmlcov/
dist/
build/
*.egg-info/
